.nav
  position: absolute
  top: 0
  width: 100%
  transition: height 0.4s cubic-bezier(0.52, 0.16, 0.24, 1)
  z-index: 999
  &_bar 
    width: 100%
    position: relative
    &-wrap 
      width: 1.8rem
      height: 1.8rem
      display: grid
      align-items: center
      cursor: pointer
      z-index: 99
      min-height: 1.5rem

    &-btn
      width: 30px
      height: 30px
      background-image: url('/images/icons/menu_btn.svg')
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      font-familiy: sans
      font-size: 3.5rem
      position: absolute
      top: 15px

    // old navbar with css made button is $h17
    //&,
    //&::after,
    //&::before 
    //  padding: 1px
    //  border-radius: 2px
    //  background-color: var(--text)
    //  width: 1.6rem
    //  right: 0
    //  content: ""
    //
    //&::after,
    //&::before 
    //  position: absolute
    //
    //&::before 
    //  top: -0.5rem
    //
    //&::after 
    //  top: 0.5rem
    //  //right: 0
  
  &-body-limiter
    position: relative
    max-width: 1024px
    margin: 0 auto

  &-body
    display: none
    border-radius: 10px
    //min-height: 200px
    box-shadow: 0 1.5rem 6rem rgba(0,0,0,0.17)
    position: absolute
    right: 20px
    z-index: 1
    top: 0
    margin-top: 10px
    opacity: 0
    overflow: hidden
    transition: right 0.33s linear
    background: transparent
    background-color: var(--accent)
    width: 16rem
    padding: 20px 0
    //min-height: 100vh
    z-index: 1
    &:hover 
      box-shadow: 0 1.5rem 6rem rgba(0,0,0,0.27)
    
    a
      display: block
      padding: 12.5px 25px
      margin-bottom: 2px
      border-bottom: 1px solid var(--accent)
      transition:color 0.25s ease-in-out
      &:hover
        color: var(--theme)
      
    
  
  &-brand
    font-family: 'Metropolis'
    font-size: 1.6rem !important
    padding-top: 0 !important
    padding-bottom: 0 !important
  
  &-close 
    cursor: pointer
    background-image: url('/images/icons/close_small.svg')
    background-repeat: no-repeat
    background-position: center
    display: flex
    justify-content: flex-start
    align-items: center
    position: absolute
    top: 0
    right: 0
    //width: 100%
    cursor:pointer
    padding: 20px
    //&:after, 
    //&:before
    //  content: ''
    //  width: 18px
    //  border-radius 50%
    //  padding: 1.5px
    //  background: var(--text)
    //  opacity: 0.7
    //  position: relative
    //
    //&:before 
    //  transform: rotate(20deg) translateX(1.5px)
    //
    //&:after 
    //  transform: rotate(-20deg) translateX(-1.5px)
    
  
  &-drop 
    //cursor: pointer
    top: 0
    bottom: 0
    z-index: 1000
  
  &-exit
    animation: hideMenu 0.5s cubic-bezier(0.52, 0.16, 0.24, 1) forwards
  
  &-menu 
    position: relative
    padding: 10px 25px 10px 0
    height: 100%
    max-width: 1024px
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    a 
      color: inherit
      width: 100%
      display: block
      padding: 10px 25px
      font-size: 105%
    
  &-pop
    position: fixed
    width: 100vw
    left: 50%
    right: 50%
    margin-left: -50vw
    margin-right: -50vw
    background: rgba(0,0,0,0.15)
  
  &-open 
    display: block
    animation: showMenu 0.5s cubic-bezier(0.52, 0.16, 0.24, 1) forwards
  
  &_item 
    text-transform: capitalize
