<head>
    <title>{{ if .IsHome }}{{else}}{{ with .Title }}{{ humanize . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
  <meta charset='utf-8'>
  {{ hugo.Generator }}
  {{- with .Site.Params.ga_verify }}
  <meta name="google-site-verification" content="{{ . }}" />
  {{- end }}
  <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
  <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
  {{- if (ne hugo.Environment "development") }}
  {{- partial "analytics" . }}
  {{- end }}
  {{- partial "opengraph" . }}
  {{- partial "favicon" . }}
  <link rel='canonical' href='{{ .Permalink }}'>
  {{- $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" "true") -}}
  {{ $sassTemplate := resources.Get "sass/template.sass" }}
  {{- $style := $sassTemplate | resources.ExecuteAsTemplate "main.sass" . | resources.ToCSS $options | resources.Fingerprint "sha512" }}
  <link rel = 'stylesheet' href = '{{ $style.Permalink }}' integrity = '{{ $style.Data.Integrity }}'>
</head>
