<!-- intro banner on list pages -->
<div class = 'intro'>
  <div class = 'intro_inner'>
    
    <!-- wave thing disabled by gabmus <div>{{ partial "audio" . }}</div>-->
    <section>
      {{ if isset .Site.Params "logo" }}
        <img class = 'intro_logo' src='{{ .Param "logo"}}' />
      {{ end }}
      <h1 class = 'intro_headline'>{{ .Title }}</h1>
      <h2 class = 'intro_desc'>
        {{ if isset .Site.Params "description" }}
          {{ .Param "description" }}
        {{ end }}
      </h2>
    </section>
  </div>
</div>
