<div class = 'nav-drop'>
  <div class = 'nav-body-limiter'>
    <div class = 'nav-body'>
      {{- range .Site.Menus.main }}
        <a href = '{{ .URL }}' class = 'nav_item'>{{ .Name }}</a>
      {{- end }}
      <div class = 'nav-close'></div>
    </div>
  </div>
</div>
{{- partial "header" . }}
